http:
  routers:
    traefik-dashboard:
      entryPoints:
        - web
      service: api@internal
      rule: Host(`wptriggermail.com`) && Path(`/traefik/dashbaord`)
    phpmyadmin-redirect:
      entryPoints:
        - websecure
      service: noop@internal
      rule: Host(`wptriggermail.com`) && Path(`/pma`)
      priority: 210
      tls:
        certResolver: letsencrypt
      middlewares:
        - add-trailing-slash
    
    phpmyadmin-secure:
      entryPoints:
        - websecure
      service: phpmyadmin
      rule: Host(`wptriggermail.com`) && PathPrefix(`/pma/`)
      priority: 190
      tls:
        certResolver: letsencrypt
      middlewares:
        - phpmyadmin-stripprefix
    
    node-app:
      entryPoints:
        - websecure
      service: node-app
      rule: Host(`wptriggermail.com`) || Host(`www.wptriggermail.com`)
      tls:
        certResolver: letsencrypt
  
  services:
    node-app:
      loadBalancer:
        servers:
          - url: "http://node-app:4000"
    
    phpmyadmin:
      loadBalancer:
        servers:
          - url: "http://demo-phpmyadmin:80"
          
  middlewares:
    redirect-to-https:
      redirectScheme:
        scheme: https
        permanent: true
    
    add-trailing-slash:
      redirectRegex:
        regex: "^(https?://[^/]+/.+[^/])$"
        replacement: "${1}/"
        permanent: true
    
    phpmyadmin-stripprefix:
      stripPrefix:
        prefixes:
          - "/pma"
