services:
  traefik:
    image: traefik:3.4
    command:
      - "--configfile=/etc/traefik/traefik.yml"
    ports:
      - "80:80"
      - "443:443"
      - "8080:8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./traefik/traefik.yml:/etc/traefik/traefik.yml
      - ./traefik/dynamic.yml:/etc/traefik/dynamic.yml
      - ./traefik/acme.json:/etc/traefik/acme.json
    networks:
      - traefik
  
  node-app-1:
    image: node:14-alpine
    command: npm start
    volumes:
      - "./server:/app"
    working_dir: /app
    environment:
      - PORT=3000
    networks:
      - traefik
  
  node-app-2:
    image: node:14-alpine
    command: npm start
    volumes:
      - "./server:/app"
    working_dir: /app
    environment:
      - PORT=4000
    networks:
      - traefik

networks:
  traefik:
    name: traefik