services:
  traefik:
    image: traefik:3.4
    command:
      - "--configfile=/etc/traefik/traefik.yml"
    ports:
      - "80:80"
      - "443:443"
      - "8080:8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./traefik/traefik.yml:/etc/traefik/traefik.yml
      - ./traefik/dynamic.yml:/etc/traefik/dynamic.yml
    networks:
      - traefik
  node-app:
    image: node:14-alpine
    command: npm start
    ports:
      - "3000:3000"
    volumes:
      - "./server:/app"
    working_dir: /app
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.node-app.entrypoints=web"
      - "traefik.http.routers.node-app.rule=Host(`node-app.localhost`)"
      - "traefik.http.services.node-app.loadbalancer.server.port=3000"
    environment:
      - PORT=3000
    networks:
      - traefik

networks:
  traefik:
    name: traefik