http:
  routers:
    traefik-dashboard:
      entryPoints:
        - web
      service: api@internal
      rule: Host(`wptriggermail.com`) && Path(`/traefik/dashbaord`)

    node-app:
      entryPoints:
        - websecure
      service: node-app
      rule: Host(`wptriggermail.com`) || Host(`www.wptriggermail.com`)
      tls:
        certResolver: letsencrypt
        domains:
          - main: "wptriggermail.com"
            sans:
              - "*.wptriggermail.com"

    phpmyadmin-redirect:
      entryPoints:
        - websecure
      service: noop@internal
      rule: Host(`wptriggermail.com`) && Path(`/pma`)
      priority: 210
      tls:
        certResolver: letsencrypt
        domains:
          - main: "wptriggermail.com"
            sans:
              - "*.wptriggermail.com"
      middlewares:
        - add-trailing-slash
    
    phpmyadmin-secure:
      entryPoints:
        - websecure
      service: phpmyadmin
      rule: Host(`wptriggermail.com`) && PathPrefix(`/pma/`)
      priority: 190
      tls:
        certResolver: letsencrypt
        domains:
          - main: "wptriggermail.com"
            sans:
              - "*.wptriggermail.com"
      middlewares:
        - phpmyadmin-stripprefix
  
  services:
    node-app:
      loadBalancer:
        servers:
          - url: "http://node-app:4000"
    
    phpmyadmin:
      loadBalancer:
        servers:
          - url: "http://phpmyadmin:80"
          
  middlewares:
    redirect-to-https:
      redirectScheme:
        scheme: https
        permanent: true
    
    add-trailing-slash:
      redirectRegex:
        regex: "^(https?://[^/]+/.+[^/])$"
        replacement: "${1}/"
        permanent: true
    
    phpmyadmin-stripprefix:
      stripPrefix:
        prefixes:
          - "/pma"    
    # wordpress-headers:
    #   headers:
    #     customRequestHeaders:
    #       X-Forwarded-Proto: "https"
    #       X-Forwarded-Port: "443"

    # node-app-http:
    #   entryPoints:
    #     - web
    #   service: node-app
    #   rule: Host(`wptriggermail.com`) || Host(`www.wptriggermail.com`)
    #   middlewares:
    #     - redirect-to-https