http:
  middlewares:
    redirect-to-https:
      redirectScheme:
        scheme: https
        permanent: true
  routers:
    node-app-secure:
      rule: "Host(`node-app.localhost`)"
      entryPoints:
        - websecure
      service: node-app
      tls: {}
    nginx-secure:
      rule: "Host(`nginx.localhost`)"
      entryPoints:
        - websecure
      service: nginx
      tls: {}
  services:
    node-app:
      loadBalancer:
        servers:
          - url: "http://node-app:4000/"
    nginx:
      loadBalancer:
        servers:
          - url: "http://nginx:80/"

tls:
  certificates:
    - certFile: /etc/traefik/certs/_wildcard.tutor.localhost+6.pem
      keyFile: /etc/traefik/certs/_wildcard.tutor.localhost+6-key.pem
  options:
    default:
      minVersion: "VersionTLS12"
